// fuentes personalizada - estatica 

@font-face {
    font-family: "Comfortaa";
    src:
    url("../font/Comfortaa-Bold.woff2") format("woff2"),
    url("../font/Comfortaa-Bold.woff") format("woff"),
      url('../font/Comfortaa-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src:
    url("../font/Comfortaa-Bold.woff2") format("woff2"),
    url("../font/Comfortaa-Bold.woff") format("woff"),
      url('../font/Comfortaa-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src:
    url("../font/Comfortaa-Bold.woff2") format("woff2"),
    url("../font/Comfortaa-Bold.woff") format("woff"),
      url('../font/Comfortaa-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

// fuentes personalizada - variables 
@supports (font-variation-settings: normal) {
    @font-face {
      font-family: "Comfortaa";
      src:
        url("../font/Comfortaa-VariableFont_wght.woff2") format(woff2) tech(variations),  /* Sintaxis moderna */
        url("../font/Comfortaa-VariableFont_wght.woff2") format("woff2-variations");
      font-weight: 100 900;
      font-stretch: 50% 200%;
    }
  }