@use './variables' as v;

@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desk {
    @media (min-width: v.$desk) {
        @content;
    }
}

@mixin deskXL {
    @media (min-width: v.$deskXL) {
        @content;
    }
}

@mixin bgimg($jpg, $webp, $avif) {
    @supports(background-image: url('#{$jpg}')) {
        background-image: url('#{$jpg}');
    }

    @supports(background-image: url('#{$webp}')) {
        background-image: url('#{$webp}');
    }

    @supports(background-image: url('#{$avif}')) {
        background-image: url('#{$avif}');
    }
    @content
}


@mixin button($background: v.$blue20, $borderColor: v.$blue20, $color: v.$white, $margin: 0 auto, $shadow: v.$blue10) {
    display: flex;
    align-items: center;
    justify-content: center;

    background: $background;
    border: 1px solid $borderColor;
    color: $color;
    border-radius: 1rem;
    cursor: pointer;
    padding: .625rem;
    font-family: v.$fontPrimary;
    margin: $margin;
    box-sizing: border-box;
    box-shadow:  inset -1px -1px 2px $shadow;

    
    transition: background .3s;
    @content;
}

@mixin hover($background){
    &:hover {
        background: $background;
        @content;
    }
}


