@use './variables' as v;

@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
  
@mixin desk {
    @media (min-width: v.$desk) {
        @content;
    }
}

@mixin deskXL {
    @media (min-width: v.$deskXL) {
        @content;
    }
}

@mixin bgimg($jpg, $webp, $avif) {
    @supports(background-image: url('#{$jpg}')) {
        background-image: url('#{$jpg}');
    }

    @supports(background-image: url('#{$webp}')) {
        background-image: url('#{$webp}');
    }

    @supports(background-image: url('#{$avif}')) {
        background-image: url('#{$avif}');
    }
    @content
}


@mixin button {
    background: v.$blue20;
    border: 1px solid v.$blue20;
    color: v.$white;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .25rem;
    padding: .625rem;
    font-family: v.$fontPrimary;
    justify-content: center;
    margin: 0 auto;
    transition: background .3s;
    box-sizing: border-box;
    @content;

    &:hover {
        background: v.$lightBlue;
        
    }
}
