// colores
$white: #FFFFFF;
$black: #191919;
$lightBlue: #0F83B2;
$gray10: #7F7F7F;


// media queries
$phone: 420px;
$tablet: 768px;
$desk: 1024px;
$deskXL: 1366;

// font

$fontFamily: "Comfortaa", sans-serif;