// colores
$white: #fafafa;
$black: #191919;
$lightBlue: #0F83B2;
$blue10: #375259;
$gray10: #7F7F7F;
$yellow: #FFE926;


// media queries
$phone: 420px;
$tablet: 768px;
$desk: 1024px;
$deskXL: 1366px;

// font
$fontPrimary: "Comfortaa";
$fontSecundary: "Baloo Bhaina 2";