@use '../../base/variables' as v;
@use '../../base/minxis' as m;

.categoryList {
    padding-block: 2rem;

    &__content {
        text-align: center;
    }

    &__container {
        margin-block: 3rem;
    }

    @include m.tablet {
        &__container {
            display: flex;
            flex-wrap: wrap;
            align-items: end;
            justify-content: center;
            gap: 2rem;
        }
    }
}