@use '../../base/variables' as v;
@use '../../base/minxis' as m;

.hero {
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: bottom center;
    background-color: #C4C8CA;
    @include m.bgimg('../img/bg-hero.jpg', '../img/bg-hero.webp', '../img/bg-hero.avif');

    &__content {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    &__details {
        padding-block: 2rem;
    }

    &__title {
        font-weight: 900;
        line-height: 1.2;
        font-family: v.$fontSecundary;
        color: v.$lightBlue;
        text-shadow: 3px 0px 0 v.$white;
        font-size: 2.25rem;
    }

    &__text {
        color: v.$blue10;
        margin-block-end: 2rem;
    }

    &__button {
        @include m.button(v.$yellow, v.$yellow, v.$black){
            max-inline-size: 21.875rem;
        }
        
        @include m.hover(rgb(221, 221, 7));
    }

    @include m.phone {
        background-position: top 50px  left;
        background-size: cover;

        &__details {
            padding-block: 3rem;
        }
    }

    @include m.tablet {
        padding-block: 3rem;
        background-position: top center;

        &__content {
            grid-template-rows: unset;
            grid-template-columns: repeat(2, 1fr);
        }

        &__details {
            grid-column: 2;
        }
    }

    @include m.desk {
        padding-block: 5rem;

        &__title {
            font-size: 3rem;
        }

        &__text {
            font-size: 1.25rem;
            margin-block-end: 4.25rem;
        }
    }

    @include m.deskXL {
        padding-block: 7rem;

        &__title {
            font-size: 4.25rem;
        }
    }
}