@use '../../base/variables' as v;
@use '../../base/minxis' as m;

.photos {
    padding-block: 2rem;

    &__title {
        text-align: center;
    }
    
    &__img {
        display: block;
        inline-size: 100%;
        block-size: 100%;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @include m.tablet {
        padding-block: 4rem;

        &__content {
            grid-template-columns: repeat(4, 1fr);
        }
    }


}