@use '../../base/variables' as v;
@use '../../base/minxis' as m;

.productList {
    padding-block: 2rem;

    &__content {
        text-align: center;
    }

    &__container {
        padding-block-start: 2rem;
    }


    @include m.phone {
        &__container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
            gap: 1rem;

        }
    }

    @include m.tablet {
        &__container {
            gap: 2rem;
        }
    }

    @include m.desk {
        &__container {
            gap: 4rem;
        }
    }
}