@use '../../base/variables' as v;
@use '../../base/minxis' as m;

.productItem {
    max-inline-size: 18rem;
    margin: 0 auto;
    margin-block-end: 3rem;

    &:last-child {
        margin: 0;
    }

    &__image{
        position: relative;

        border: 1px solid v.$gray20;
        border-radius: 1.675rem;
        margin-block-end: 1rem;
        overflow: hidden;
    }

    &__image--sale::before {
        content: 'SALE';
        position: absolute;
        inset-inline-start: 1rem;
        inset-block-start: 1rem;

        font-size: .875rem;
        color: v.$white;
        font-weight: 900;
        font-family: v.$fontPrimary;
        background: v.$red;
        padding: .25rem .625rem;
        border-radius: 1rem;
    }

    &__img {
        display: block;
        inline-size: 100%;
        block-size: 100%;
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: .625rem;
    }

    &__name {
        margin: 0;
    }

    &__price {
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 1rem;

        margin: 0;
        font-weight: 900;
    }

    &__price span::before {
        content: '$';
    }
    
    &__price--actualy span:first-of-type {
        color: v.$green;
    }

    &__price--actualy span:last-of-type {
        color: v.$gray10;
        font-size: .875rem;
        text-decoration: line-through;
        font-weight: 400;
    }

    &__value {
        inline-size: 0;
        block-size: 1.5rem;
        background-image: url('../img/start.svg'), url('../img/start.svg'), url('../img/start.svg'), url('../img/start.svg'), url('../img/start.svg');
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: 0 0, 28px 0, 56px 0, 84px 0, 112px 0;
        margin: 0 auto; 

        &--5 {
            inline-size: 8.75rem;
        }

        &--4 {
            inline-size: 7rem;
        }

        &--3 {
            inline-size: 5.25rem;
        }
    }

    &__button {
        @include m.button;
        @include m.hover(v.$lightBlue)
    }

    @include m.tablet {
        margin: 0;
        max-inline-size: none;
    }

}